<ion-header [translucent]="true">
  <ion-toolbar color="primary">
   <ion-buttons slot="end">
    <ion-button (click)="goLogin()"> Ingresar </ion-button>
   </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <form id="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <ion-item lines="none" class="ion-item">
      <fieldset  class="input-item">
        <legend>Usuario</legend> 
        <ion-input formControlName="username" type="text" placeholder="nombre de usuario"></ion-input>
      </fieldset>
    </ion-item>
    <ion-item lines="none" class="ion-item">
      <fieldset  class="input-item">
        <legend>Correo Electrónico</legend> 
        <ion-input formControlName="email" type="email" placeholder="nombre@dominio.com"></ion-input>
      </fieldset>
    </ion-item>
    <ion-item lines="none" class="ion-item">
      <fieldset class="input-item">
        <legend>Contraseña</legend> 
        <ion-input formControlName="password" type="password" placeholder="*******"></ion-input>
      </fieldset>
    </ion-item>
    <ion-button class="login-button" type="submit" expand="block">Registrarse</ion-button>
    <ion-toast color="danger" [isOpen]="isToastOpen" message="Correo o contraseña invalidas" [duration]="3000" (didDismiss)="setOpen(false)"></ion-toast>
  </form>
</ion-content>
