  
  ion-content.background {
    --background:  #b49c9c;
  
  
  }
  
  #btnStart, #btnStop{
    //position: absolute;
    
    //margin-top: 60%;
    //margin-left: 20%;
    color: rgb(255, 255, 255);
    border-radius: 10%;
  
  }
  

  .fullscreen-button-pause {
    width: 95%;
    height: 95%;
    border: 20px solid #eb445a;
    border-radius: 10%;
  }
  .fullscreen-button-play {
    width: 95%;
    height: 95%;
    border: 20px solid #23f150;
    border-radius: 10%;
  }
  
  ion-icon {
    font-size: 10rem; /* Tamaño del ícono */
  }

  .center
  {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .spinner
  {
    position: absolute;   top: 50%;   left: 50%;   transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
  }