<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    @if(this.authService.currentUserSig() == null)
    {
      <ion-buttons slot="end">
      <ion-button (click)="goLogin()"> Ingresar </ion-button>
      <ion-button (click)="goRegister()"> Registrarse </ion-button>
      </ion-buttons>
    }
    @if(this.authService.currentUserSig() && !presionado)
    {
      <ion-buttons slot="start">
      <ion-button (click)="logout()"> Salir </ion-button>
      </ion-buttons>
    }
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  @if(this.authService.currentUserSig())
  {
    @defer {
      
        <div class="center">
          <button *ngIf="presionado" class="fullscreen-button-pause" (click)="btnActivarODesactivar()" style="background-color: #148cee;color: #eb445a;">
            <ion-icon name="alarm"></ion-icon>
          </button>
      
          <button *ngIf="!presionado" class="fullscreen-button-play" (click)="btnActivarODesactivar()" style="background-color: #148cee;color: #23f150;">
            <ion-icon  name="play"></ion-icon>
          </button>
        </div>
      
    } @placeholder {
      <ion-spinner class="spinner" name="circular"></ion-spinner>
    } @loading (minimum 2s) {
      <ion-spinner class="spinner" name="circular"></ion-spinner>
    }
    
  }
  
</ion-content>
